# REQUIRED API KEYS
DATABASE_URL=your-database-url-here
GEMINI_API_KEY=your-gemini-api-key-here

# ===== OPTIONAL API KEYS + VARIABLES ===== #

# Required for server/app/database/telemetry.py if you want to enable PostHog telemetry for data collection and analysis
POSTHOG_API_KEY=your-posthog-api-key-here
POSTHOG_HOST=your-posthog-host-here

# Required for server/app/api/subscription_api.py if you want to enable Stripe payments
STRIPE_API_KEY=your-stripe-api-key-here
STRIPE_MONTHLY_PRICE_ID=your-stripe-monthly-price-id-here
STRIPE_YEARLY_PRICE_ID=your-stripe-yearly-price-id-here
CLIENT_DOMAIN=your-client-domain-here

# Required for server/app/llm/speech.py if you want to use the audio feature
AZURE_OPENAI_API_KEY=your-azure-openai-api-key-here
AZURE_OPENAI_ENDPOINT=your-azure-openai-endpoint-here